.env
.env.test
.env.development
.env.production
node_modules
calendarAuth/credentials.json
calendarAuth/token.json
calendarAuth\credentials.json
calendarAuth\token.json
calendarAuth\client_secret_349540215254-9dni9onjhnq1hrrvbjn94qo3ou6js9av.apps.googleusercontent.com.jsonZone.Identifier